#header{
		width:100%;
		position: fixed;
		top: 1em;
}

.navbar{
		padding-right: 15px;
		float: right;
		right: 1%;
		position: relative;
		display:inline;
		vertical-align:top;
}
#contentHolder{width: 50%;
  margin: 0 auto;
    	
}

.content{
		display: inline-block;
		margin:0 auto;
		position: absolute;
		top: 40%;
		
		
}

a {
	text-decoration: none;
	font-size: 12px;
	color: rgb(100,100,100);
	padding: 0.5em;
}

.google{
	display:block;
    margin:100px auto;
	height: 200px;
	width: 450px;
    	padding: 100px 0px px 0px ;

}

.search{  
  border: 1px solid #4486F9;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 43em;
  margin-bottom: 1em;
}

#buttonsDiv{
	text-align: center;
    margin:0 auto;
	
}

.buttons{margin: 0 auto;
  background-color: rgb(240,240,240);
  border: 1px solid rgb(220,220,220);
  padding: 0.5em;
  font-weight: bold;
  font-size: 0.6em;
  color: rgb(100,100,100);
  margin: 0.5em;

}

#footer{

	position: fixed;
    bottom: 0;
    right: 0;

	bottom: 0;
	left:0px;
  font-size: 10pt;
  height: 35px;
  width: 100%;
  background-color: rgb(240,240,240);
	border-top: 1px solid rgb(230,230,230);
	font: serif;

}

.l_footer{
float: left;
	left: 1%;
	position: relative;
	top: 0.75em;
	word-spacing: 1em;


}

.r_footer{float: right;
	right: 1%;
	position: relative;
	top: 0.75em;
	word-spacing: 1em;}